.header {

  // .header__top

  &__top {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
  }

  // .header__body--top
  &__body--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  // .header__logo

  &__logo {
    margin-right: 48px;

    @media screen and (max-width: 550px) {
      margin-right: 8px;
    }

    img {
      @media screen and (max-width: 550px) {
        width: 164px;
      }
    }
  }

  // .header__menu

  &__menu {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1120px) {
      flex-wrap: wrap;
    }
  }

  // .header__question

  &__question {
    display: flex;
    align-items: center;
    margin-right: 20px;

    p {
      font-family: $Monrope;
      font-style: normal;
      font-weight: 700;
      font-size: 13.0071px;
      line-height: 123%;
      display: flex;
      letter-spacing: 0.01em;
      color: $blue;

      @media screen and (max-width: 680px) {
        display: none;
      }
    }

    button {
      width: 130px;
      height: 37px;
      background: $blue;
      border-radius: 7px;
      font-family: $Monrope;
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 124%;
      letter-spacing: 0.01em;
      color: $white;
      margin-left: 19px;
    }
  }

  // .header__social

  &__social {
    display: flex;
    align-items: center;

    a {
      width: 20px;
      height: 20px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      img {}
    }

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  // .header__burger
  &__burger {

    @media screen and (min-width: 960px) {
      display: none;
    }
  }

  // .header__bottom

  &__bottom {}
}

.menu {

  @media screen and (max-width: 960px) {
    display: none;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  // .menu__link

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    color: $black;
    transition: color .3s ease 0s;

    &:hover {
      color: $blue;
    }
  }
}


.bottom {

  // .bottom__menu

  &__menu {
    display: flex;
    align-items: center;
  }

  // .bottom__item

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 132%;
    color: $blue;
    padding: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      padding: 0px 8px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  //.bottom__link
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 132%;
    color: $blue;
  }
}

.submenu {
  position: absolute;
  top: 100%;
  background-color: $white;
  padding: 20px;
  z-index: 12;
  border: 1px solid #000;
  // .submenu__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .submenu__link

  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 132%;
    color: $blue;
  }
}