// Подключение Шрифтов
$Unb: 'Unbounded', sans-serif;
$Ibm: 'IBM Plex Sans', sans-serif;
$Inter: 'Inter', sans-serif;
$Monrope: 'Manrope', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


// Скорость анимации
$animation_speed: 0.3s;

// Переменные ширины
$maxWidth: 1920px;
$maxWidthContainer: 1380px;
$paddingContainer: 15px;


// Цвета
$black: #131313;
$blue: #27577C;
$white: #ffffff;
$grey: #7E7E7E;

// Отступы
$padding_section: 100px;
$mobile_section_padding: 40px;