// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

:root {
  --animate-duration: 1s;
}


// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "common";
@import "_header";
@import "_footer";
@import "home";
@import "single";
@import "portfolio";
@import "popup";
@import "about";
@import "license";
@import "partners";
@import "article";


* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $Montserrat;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  color: $black;
  font-size: 16px;

  @media screen and (max-width: 769px) {
    max-width: 100vw;
  }


  main {
    flex: 1 0 auto;
  }
}

// import styles bundle
@import "./slider";

@media only screen and (max-width : 768px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}